@model IEnumerable<DataAccess.OrderDetails>

@{
    ViewData["Title"] = "StoreOrders";
}

<head>
    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<div class="text-center">
    <h1>Store Order History</h1>
</div>

<table class="table" border="1">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                User ID
            </th>
            <th>
                Store
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Small Pizzas
            </th>
            <th>
                Large Pizzas
            </th>
            <th>
                Price
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.smallPizzas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.largePizzas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePlaced)
            </td>
        </tr>
}
    </tbody>
</table>
