@model IEnumerable<ClassLibrary.UserClass>

@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<div class="text-center">
    <h1>List of Users</h1>
</div>


<table class="table" border="1">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Default Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.defaultLocation)
            </td>
            <td>
                @Html.ActionLink("Order History", "UserOrderHistory", new { id = item.userID })
            </td>
        </tr>
}
    </tbody>
</table>
